{% extends 'manager/base.html' %}

{% block content %}

<style>
    .hidden{
        display: none;
    }
</style>

<div class="form-detail-wrapper">

    <form action="" method="post">
        {{ formset.management_form }}
        {% csrf_token %}
        {{ form.as_p }}
        <button id="add-new-subtask" type="button" class="btn btn-info">Добавить новую подзадачу</button>

        {% if formset%}
        <div style="text-align: center;" class="task-children-wrapper">
            <h3 style="color: green;">Подзадачи {{ form.title_task.value }}</h3>
            <hr>
            {% for form in formset %}
            <div class="existing-subtasks">
                {{ form }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div id="empty-form" class="hidden">
            {{ formset.empty_form }}
        </div>
        <div id="new-sub-task"></div>
        <button style="margin-top: 15px;" type="submit" class="btn btn-success">Обновить</button>
    </form>
</div>

<script>

    const addNewSubTask = document.getElementById('add-new-subtask')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    const currentSubTaskCount = document.getElementsByClassName('existing-subtasks')

    addNewSubTask.addEventListener('click', add_new_subtask)

    function add_new_subtask(args){
        if (args){
            args.preventDefault()
        }
        const countElement = currentSubTaskCount.length
        console.log(countElement)
        const newSubTask = document.getElementById('new-sub-task')

        const emptyEl = document.getElementById('empty-form').cloneNode(true)
        emptyEl.setAttribute('class', 'existing-subtasks')
        emptyEl.setAttribute('id', `form-${countElement}`)

        const re = new RegExp('__prefix__', 'g')
        totalNewForms.setAttribute('value', countElement + 1)
        emptyEl.innerHTML = emptyEl.innerHTML.replace(re, countElement)
        newSubTask.append(emptyEl)

    }

</script>

{% endblock %}





