{% extends 'manager/base.html' %}

{% block content %}

<div class="content-grouping">
    <div class="task-group-menu">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

            {% for group in user_tasks_groups %}

            {% if group.group_name == 'Standard group' %}
            <a class="nav-link active link-light" aria-current="page" href="{% url 'task_group' group.id %}">
                <button style="color: black;" type="button" class="btn btn-outline-warning">{{ group.group_name }}
                </button>
            </a>

            {% endif %}

            {% endfor %}

            {% for group in user_tasks_groups %}

            {% if group.group_name == 'Standard group' %}
            {% else %}

            <a class="nav-link active link-light" aria-current="page"
               href="{% url 'task_group' group.id %}">
                <button style="color: orange;" type="button" class="btn btn-outline-light">
                    {{ group.group_name }}
                </button>
            </a>

            {% endif %}

            {% endfor %}
        </div>
    </div>
</div>
{% block tasks_group %}
{% endblock %}

{% endblock content %}
